@media only screen and (min-width: 800px) and (max-width: 1500px) {
  .gallery__columns {
    width: 50%;
    float: left;
    line-height: 0;
  }
  .about__img {
    width: 50%;
  }
}

body {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  font-family: "Raleway", Arial, sans-serif;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}

.nav {
  padding: 26px 16px;
}

.nav a {
  display: inline-block;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 24px;
}

.nav__link_left {
  text-transform: uppercase;
  float: left;
}

.nav__link_right {
  float: right;
}

.gallery__columns {
  line-height: 0;
}

.gallery img {
  max-width: 100%;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.footer {
  background-color: #f1f1f1;
  padding: 64px 0;
}

.footer__content {
  max-width: 60%;
  margin: auto;
}

.about__header {
  font-size: 30px;
  margin: 10px 0;
}

.about__img {
  max-width: 100%;
  padding: 32px 0;
}

.about__paragraph {
  margin: 15px 0;
}

.contact-me__header {
  font-size: 18px;
  color: rgb(233, 30, 99);
  margin: 18px 0;
  font-weight: 400;
}

.form__label, .form__button, .form__input {
  font-size: 16px;
}

.form__input, .form__button {
  font-weight: 300;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 16px;
}

.contact-me__form div {
  margin: 16px 0;
}

.form__label, .about__header {
  font-weight: 500;
}

.form__button {
  background-color: rgb(97, 97, 97);
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.form__button:hover {
  color: #000;
}

.footer__powered {
  margin: 15px 0;
}

.footer__powered a:hover {
  color: #48b565;
}

.link {
  color: #000;
}

.grey-bckg:hover {
  background-color: #cfcfcf;
}
